In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("data/vgsales.csv", index_col=1)

In [8]:
df.head()

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Wii Sports,1,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
Super Mario Bros.,2,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
Mario Kart Wii,3,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
Wii Sports Resort,4,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
Pokemon Red/Pokemon Blue,5,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16291 entries, Wii Sports to Spirits & Spells
Data columns (total 10 columns):
rank            16291 non-null int64
platform        16291 non-null object
year            16291 non-null float64
genre           16291 non-null object
publisher       16291 non-null object
na_sales        16291 non-null float64
eu_sales        16291 non-null float64
jp_sales        16291 non-null float64
other_sales     16291 non-null float64
global_sales    16291 non-null float64
dtypes: float64(6), int64(1), object(3)
memory usage: 1.7+ MB

In [12]:
df.shape

(16598, 10)

In [16]:
df.columns = [col.lower() for col in df]

In [17]:
df.columns

Index(['rank', 'platform', 'year', 'genre', 'publisher', 'na_sales',
       'eu_sales', 'jp_sales', 'other_sales', 'global_sales'],
      dtype='object')

In [18]:
df.isnull().sum()

rank              0
platform          0
year            271
genre             0
publisher        58
na_sales          0
eu_sales          0
jp_sales          0
other_sales       0
global_sales      0
dtype: int64

In [23]:
null_data = df[df.isnull().any(axis=1)]
null_data.shape

(307, 10)

In [24]:
df.dropna(inplace=True)

In [25]:
df.shape

(16291, 10)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16291 entries, Wii Sports to Spirits & Spells
Data columns (total 10 columns):
rank            16291 non-null int64
platform        16291 non-null object
year            16291 non-null float64
genre           16291 non-null object
publisher       16291 non-null object
na_sales        16291 non-null float64
eu_sales        16291 non-null float64
jp_sales        16291 non-null float64
other_sales     16291 non-null float64
global_sales    16291 non-null float64
dtypes: float64(6), int64(1), object(3)
memory usage: 1.4+ MB

In [27]:
df.head()

,rank,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
Name,,,,,,,,,,
Wii Sports,1,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
Super Mario Bros.,2,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
Mario Kart Wii,3,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
Wii Sports Resort,4,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
Pokemon Red/Pokemon Blue,5,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [28]:
df.describe()

,rank,year,na_sales,eu_sales,jp_sales,other_sales,global_sales
count,16291.000000,16291.000000,16291.000000,16291.000000,16291.000000,16291.000000,16291.000000
mean,8290.190228,2006.405561,0.265647,0.147731,0.078833,0.048426,0.540910
std,4792.654450,5.832412,0.822432,0.509303,0.311879,0.190083,1.567345
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4132.500000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8292.000000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12439.500000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.480000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [29]:
df.corr()

,rank,year,na_sales,eu_sales,jp_sales,other_sales,global_sales
rank,1.000000,0.178027,-0.400315,-0.379137,-0.269323,-0.332735,-0.426975
year,0.178027,1.000000,-0.091285,0.006108,-0.169387,0.041128,-0.074647
na_sales,-0.400315,-0.091285,1.000000,0.768923,0.451283,0.634518,0.941269
eu_sales,-0.379137,0.006108,0.768923,1.000000,0.436379,0.726256,0.903264
jp_sales,-0.269323,-0.169387,0.451283,0.436379,1.000000,0.290559,0.612774
other_sales,-0.332735,0.041128,0.634518,0.726256,0.290559,1.000000,0.747964
global_sales,-0.426975,-0.074647,0.941269,0.903264,0.612774,0.747964,1.000000

In [30]:
df.to_csv("data/cleaned_vgsales.csv")