In [1]:
import numpy as np
import pandas as pd
df=pd.read_csv("data/vgsales-12-4-2019-short.csv", index_col=1)
df.head()

,Rank,Genre,ESRB_Rating,Platform,Publisher,Developer,Critic_Score,User_Score,Total_Shipped,Global_Sales,NA_Sales,PAL_Sales,JP_Sales,Other_Sales,Year
Name,,,,,,,,,,,,,,,
Wii Sports,1,Sports,E,Wii,Nintendo,Nintendo EAD,7.7,NaN,82.86,NaN,NaN,NaN,NaN,NaN,2006.0
Super Mario Bros.,2,Platform,NaN,NES,Nintendo,Nintendo EAD,10.0,NaN,40.24,NaN,NaN,NaN,NaN,NaN,1985.0
Mario Kart Wii,3,Racing,E,Wii,Nintendo,Nintendo EAD,8.2,9.1,37.14,NaN,NaN,NaN,NaN,NaN,2008.0
PlayerUnknown's Battlegrounds,4,Shooter,NaN,PC,PUBG Corporation,PUBG Corporation,NaN,NaN,36.60,NaN,NaN,NaN,NaN,NaN,2017.0
Wii Sports Resort,5,Sports,E,Wii,Nintendo,Nintendo EAD,8.0,8.8,33.09,NaN,NaN,NaN,NaN,NaN,2009.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 55792 entries, Wii Sports to Falcon Age
Data columns (total 15 columns):
Rank             55792 non-null int64
Genre            55792 non-null object
ESRB_Rating      23623 non-null object
Platform         55792 non-null object
Publisher        55792 non-null object
Developer        55775 non-null object
Critic_Score     6536 non-null float64
User_Score       335 non-null float64
Total_Shipped    1827 non-null float64
Global_Sales     19415 non-null float64
NA_Sales         12964 non-null float64
PAL_Sales        13189 non-null float64
JP_Sales         7043 non-null float64
Other_Sales      15522 non-null float64
Year             54813 non-null float64
dtypes: float64(9), int64(1), object(5)
memory usage: 6.8+ MB

In [3]:
df.shape

(55792, 15)

In [4]:
df.columns=[col.lower() for col in df]
df.columns

Index(['rank', 'genre', 'esrb_rating', 'platform', 'publisher', 'developer',
       'critic_score', 'user_score', 'total_shipped', 'global_sales',
       'na_sales', 'pal_sales', 'jp_sales', 'other_sales', 'year'],
      dtype='object')

In [5]:
df.drop(["esrb_rating", "critic_score", "na_sales", "pal_sales", "jp_sales", "other_sales", "year"], axis=1, inplace=True)
df.columns

Index(['rank', 'genre', 'platform', 'publisher', 'developer', 'user_score',
       'total_shipped', 'global_sales'],
      dtype='object')

In [6]:
df.isnull().sum()

rank                 0
genre                0
platform             0
publisher            0
developer           17
user_score       55457
total_shipped    53965
global_sales     36377
dtype: int64

In [7]:
score=df["user_score"]
score.head()

Name
Wii Sports                       NaN
Super Mario Bros.                NaN
Mario Kart Wii                   9.1
PlayerUnknown's Battlegrounds    NaN
Wii Sports Resort                8.8
Name: user_score, dtype: float64

In [8]:
score_mean=score.mean()
score_mean

8.253432835820895

In [9]:
score.fillna(score_mean, inplace=True)

In [10]:
df.isnull().sum()

rank                 0
genre                0
platform             0
publisher            0
developer           17
user_score           0
total_shipped    53965
global_sales     36377
dtype: int64

In [11]:
tot_ship=df["total_shipped"]
tot_ship_mean=tot_ship.mean()
tot_ship.fillna("tot_ship_mean", inplace=True)
df.isnull().sum()

rank                 0
genre                0
platform             0
publisher            0
developer           17
user_score           0
total_shipped        0
global_sales     36377
dtype: int64

In [13]:
sales=df["global_sales"]
sales_mean=sales.mean()
sales.fillna("sales_mean", inplace=True)
df.isnull().sum()

rank              0
genre             0
platform          0
publisher         0
developer        17
user_score        0
total_shipped     0
global_sales      0
dtype: int64

In [14]:
null_data = df[df.isnull().any(axis=1)]
null_data.shape

(17, 8)

In [15]:
df.dropna(inplace=True)

In [16]:
df.shape

(55775, 8)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 55775 entries, Wii Sports to Falcon Age
Data columns (total 8 columns):
rank             55775 non-null int64
genre            55775 non-null object
platform         55775 non-null object
publisher        55775 non-null object
developer        55775 non-null object
user_score       55775 non-null float64
total_shipped    55775 non-null object
global_sales     55775 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 3.8+ MB

In [18]:
df.head()

,rank,genre,platform,publisher,developer,user_score,total_shipped,global_sales
Name,,,,,,,,
Wii Sports,1,Sports,Wii,Nintendo,Nintendo EAD,8.253433,82.86,sales_mean
Super Mario Bros.,2,Platform,NES,Nintendo,Nintendo EAD,8.253433,40.24,sales_mean
Mario Kart Wii,3,Racing,Wii,Nintendo,Nintendo EAD,9.100000,37.14,sales_mean
PlayerUnknown's Battlegrounds,4,Shooter,PC,PUBG Corporation,PUBG Corporation,8.253433,36.6,sales_mean
Wii Sports Resort,5,Sports,Wii,Nintendo,Nintendo EAD,8.800000,33.09,sales_mean

In [19]:
df.describe()

               rank    user_score
count  55775.000000  55775.000000
mean   27894.619561      8.253433
std    16106.212443      0.108454
min        1.000000      2.000000
25%    13946.500000      8.253433
50%    27894.000000      8.253433
75%    41842.500000      8.253433
max    55792.000000     10.000000

In [20]:
df.corr()

                rank  user_score
rank        1.000000   -0.030014
user_score -0.030014    1.000000

In [ ]:
df.to_csv('data/cleaned_vgsales-12-4-2019-short.csv')