In [1]:
import numpy as np
import pandas as pd
df=pd.read_csv("data/steam-200k.csv", index_col=1)
df.head()

                            151603712  purchase    1.0  0
The Elder Scrolls V Skyrim
The Elder Scrolls V Skyrim  151603712      play  273.0  0
Fallout 4                   151603712  purchase    1.0  0
Fallout 4                   151603712      play   87.0  0
Spore                       151603712  purchase    1.0  0
Spore                       151603712      play   14.9  0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 199999 entries, The Elder Scrolls V Skyrim to RUSH
Data columns (total 4 columns):
151603712    199999 non-null int64
purchase     199999 non-null object
1.0          199999 non-null float64
0            199999 non-null int64
dtypes: float64(1), int64(2), object(1)
memory usage: 7.6+ MB

In [3]:
df.shape

(199999, 4)

In [4]:
df.columns = [col.lower() for col in df]

In [5]:
df.columns

Index(['151603712', 'purchase', '1.0', '0'], dtype='object')

In [6]:
df.rename(columns={
    "151603712": "UserID"
}, inplace=True)
df.columns

Index(['UserID', 'purchase', '1.0', '0'], dtype='object')

In [7]:
df.drop('0', axis=1, inplace=True)
df.columns

Index(['UserID', 'purchase', '1.0'], dtype='object')

In [8]:
df.rename(columns={
    "1.0": "Total hours played/Purchase(1.0)"
}, inplace=True)
df.columns

Index(['UserID', 'purchase', 'Total hours played/Purchase(1.0)'], dtype='object')

In [9]:
df.rename(columns={
    "purchase": "purchase/play"
}, inplace=True)
df.columns

Index(['UserID', 'purchase/play', 'Total hours played/Purchase(1.0)'], dtype='object')

In [10]:
df.isnull().sum()

UserID                              0
purchase/play                       0
Total hours played/Purchase(1.0)    0
dtype: int64

In [11]:
null_data = df[df.isnull().any(axis=1)]
null_data.shape

(0, 3)

In [12]:
df.dropna(inplace=True)

In [13]:
df.shape

(199999, 3)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 199999 entries, The Elder Scrolls V Skyrim to RUSH
Data columns (total 3 columns):
UserID                              199999 non-null int64
purchase/play                       199999 non-null object
Total hours played/Purchase(1.0)    199999 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.1+ MB

In [15]:
df.head()

,UserID,purchase/play,Total hours played/Purchase(1.0)
The Elder Scrolls V Skyrim,,,
The Elder Scrolls V Skyrim,151603712,play,273.0
Fallout 4,151603712,purchase,1.0
Fallout 4,151603712,play,87.0
Spore,151603712,purchase,1.0
Spore,151603712,play,14.9

In [16]:
df.describe()

             UserID  Total hours played/Purchase(1.0)
count  1.999990e+05                     199999.000000
mean   1.036556e+08                         17.874468
std    7.208084e+07                        138.057292
min    5.250000e+03                          0.100000
25%    4.738420e+07                          1.000000
50%    8.691201e+07                          1.000000
75%    1.542309e+08                          1.300000
max    3.099031e+08                      11754.000000

In [17]:
df.corr()

                                    UserID  Total hours played/Purchase(1.0)
UserID                            1.000000                          0.004553
Total hours played/Purchase(1.0)  0.004553                          1.000000

In [18]:
df.to_csv('data/cleaned_steam-200k.csv')