In [1]:
import numpy as np
import pandas as pd
data=pd.read_csv("data/GamesDataset.csv", index_col=1)
df=pd.DataFrame(data)
df.head()

,Unnamed: 0,Platform,Year_of_Release,Variable,Value
Name,,,,,
Fallout 4,0,PS4,2015.0,MeanPlaytime,64.44790419161679
Fallout 4,1,XOne,2015.0,MeanPlaytime,64.44790419161679
Fallout 4,2,PC,2015.0,MeanPlaytime,64.44790419161679
Spore,3,PC,2008.0,MeanPlaytime,29.42413793103449
Left 4 Dead 2,4,X360,2009.0,MeanPlaytime,41.943445692883884

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 173416 entries, Fallout 4 to Plushees
Data columns (total 5 columns):
Unnamed: 0         173416 non-null int64
Platform           173416 non-null object
Year_of_Release    170515 non-null float64
Variable           173416 non-null object
Value              173416 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 7.9+ MB

In [4]:
df.shape

(173416, 5)

In [6]:
df.columns=[col.lower() for col in df]
df.columns

Index(['unnamed: 0', 'platform', 'year_of_release', 'variable', 'value'], dtype='object')

In [7]:
df.drop(["unnamed: 0", "year_of_release"], axis=1, inplace=True)
df.columns

Index(['platform', 'variable', 'value'], dtype='object')

In [8]:
df.isnull().sum()

platform    0
variable    0
value       0
dtype: int64

In [9]:
null_data = df[df.isnull().any(axis=1)]
null_data.shape

(0, 3)

In [10]:
df.dropna(inplace=True)
df.shape

(173416, 3)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 173416 entries, Fallout 4 to Plushees
Data columns (total 3 columns):
platform    173416 non-null object
variable    173416 non-null object
value       173416 non-null object
dtypes: object(3)
memory usage: 5.3+ MB

In [12]:
df.head()

              platform      variable               value
Name
Fallout 4          PS4  MeanPlaytime   64.44790419161679
Fallout 4         XOne  MeanPlaytime   64.44790419161679
Fallout 4           PC  MeanPlaytime   64.44790419161679
Spore               PC  MeanPlaytime   29.42413793103449
Left 4 Dead 2     X360  MeanPlaytime  41.943445692883884

In [14]:
df.describe()

       platform      variable   value
count    173416        173416  173416
unique       31            16    4086
top         PS2  Global_Sales     0.0
freq      23501         16719   27504

df.corr()

In [15]:
df.corr()

Empty DataFrame
Columns: []
Index: []

In [16]:
df.to_csv("data/clean_GamesDataset.csv")